@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 157 100% 95%;
    --foreground: 157 5% 0%;
    --card: 157 50% 90%;
    --card-foreground: 157 5% 10%;
    --popover: 157 100% 95%;
    --popover-foreground: 157 100% 0%;
    --primary: 157 76.7% 48.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 157 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 119 30% 85%;
    --muted-foreground: 157 5% 35%;
    --accent: 119 30% 80%;
    --accent-foreground: 157 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 157 5% 90%;
    --border: 157 30% 50%;
    --input: 157 30% 18%;
    --ring: 157 76.7% 48.8%;
    --radius: 0.5rem;
    --chart-1: 157 76.7% 48.8%;
    --chart-2: 157 30% 70%;
    --chart-3: 157 30% 50%;
    --chart-4: 157 30% 30%;
    --chart-5: 157 30% 10%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  .dark {
    --background: 157 50% 5%;
    --foreground: 157 5% 90%;
    --card: 157 50% 0%;
    --card-foreground: 157 5% 90%;
    --popover: 157 50% 5%;
    --popover-foreground: 157 5% 90%;
    --primary: 157 76.7% 48.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 157 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 119 30% 15%;
    --muted-foreground: 157 5% 60%;
    --accent: 119 30% 15%;
    --accent-foreground: 157 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 157 5% 90%;
    --border: 157 30% 18%;
    --input: 157 30% 18%;
    --ring: 157 76.7% 48.8%;
    --radius: 0.5rem;
    --chart-1: 157 76.7% 48.8%;
    --chart-2: 157 30% 70%;
    --chart-3: 157 30% 50%;
    --chart-4: 157 30% 30%;
    --chart-5: 157 30% 10%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
